<extend name="Public/index" />
<block name="css">
	<link type="text/css" rel="stylesheet" href="__CSS__hotshowinglist.css"/>
	<link type="text/css" rel="stylesheet" href="__CSS__movieSort.css"/>
</block>
<block name="title"><title>热点</title></block>
<block name="menu">
	<div class="ms_placeholder" style="height: 81px;"></div>
	<div class="ms_snav">
		<ul class="mss_navbar">
			<li><a href="{:U('Hot/show')}">热点首页</a></li>
			<li><a href="{:U('Hot/news')}">新闻资讯</a></li>
			<li><a href="{:U('Hot/preview')}">预告片</a></li>
			<li><a href="{:U('Hot/atlas')}">精彩图集</a></li>
		</ul>
    </div>
</block>
<block name="main">
	
</block>