<extend name="Public/index" />
<block name="css"><link rel="stylesheet" type="text/css" href="__CSS__hotshowinglist.css"></block>
<block name="title"><title>影院</title></block>
<block name="main">
	<div class="ms_placeholder" style="height: 81px;"></div>
	<div id="hslist1" style="margin: 40px ;">
		<ul id="hslist1ul">
			<li id="hslist3ul_li">
				<i>6</i>
			</li>
			<li>
			   	<img src="__IMAGES__other/Billboard/AmericanBoxOffice/haifanjiemei6.png">
			</li>
			<li id="showitAmericaOffice">
				<ol id="showit">
					<a href=""><li id="zla">嗨翻姐妹行</li></a>
					<li id="zlcator">主演：贾达·萍克·史密斯,奎恩·拉提法,雷吉娜·赫尔</li>
					<li id="showtime">上映时间：2017-07-21(美国)</li>
				</ol>
			</li>
			<div class="boxOffice">
				<p class="lastWeekOffice">上周末票房:<span class="officeNumber">652.0</span>万</p>
				<p class="totalOffice">总票房:9719.0万</p>
			</div>
		</ul>
	</div> 
</block>