<extend name="Public/index" />
<block name="css">
	<link rel="stylesheet" type="text/css" href="__CSS__hotshowinglist.css">
	<link rel="stylesheet" type="text/css" href="__CSS__movieSort.css">
</block>
<block name="title"><title>北美票房榜</title></block>
<block name="menu">
	<div class="ms_placeholder" style="height: 81px;"></div>
	<div class="ms_snav">
		<ul class="mss_navbar">
			<li><a href="{:U('Rank/hotshowinglist')}">热映口碑榜</a></li>
			<li><a href="{:U('Rank/TheMostAnticipatedList')}">最受期待榜</a></li>
			<li><a href="{:U('Rank/boxOfficePoint')}">国内票房榜</a></li>
			<li><a href="{:U('Rank/TheNorthAmericanBoxOffice')}">北美票房榜</a></li>
			<li><a href="{:U('Rank/topOneHundredPoint')}">TOP100榜</a></li>
		</ul>
	</div>
</block>
<block name="main">
<div id="hotshowing">
	<div id="hslist">
	    <p id="hsp1">2017-08-10<span id="hspspan">已更新</span></p><br>
	    <p id="hsp2">榜单规则：将昨日国内热映的影片，按照评分从高到低排列取前10名，每天上午10点更新。相关数据来源于“影乐专业版”及“影乐电影库”。</p>
	</div>  
	<!--num1-->
	<div id="hslist1">
	 	<ul id="hslist1ul">
			<li id="hslist1ul_li">
				<i><img src="__IMAGES__other/Billboard/hotshowing/numberone.jpg"></i>
			</li>
			<li id="hslist1ul_img1">
				<img src="__IMAGES__other/Billboard/AmericanBoxOffice/nannabeier2-1.png">
			</li>
			<li id="showitAmericaOffice" >
				<ol id="showit">
					<a href=""><li id="zla">安娜贝尔2：诞生</li></a>
					<li id="zlcator">主演：艾丽西娅·维拉-贝利,米兰达·奥图,露露·威尔逊 </li>	
					<li id="showtime">上映时间：2017-08-11(美国)</li>
				</ol>
			</li>
			<div class="boxOffice">
				<p class="lastWeekOffice">上周末票房:<span class="officeNumber">3504.0</span>万</p>
				<p class="totalOffice">总票房:3504.0万</p>
			</div>

	    </ul>
	</div>
	<!-- num2 -->
	<div id="hslist1">
		<ul id="hslist1ul">
			<li id="hslist2ul_li">
				<i>2</i>
			</li>
			<li><img src="__IMAGES__other/Billboard/AmericanBoxOffice/dunkeerke2.jpg"></li>
			<li id="showitAmericaOffice">
				<ol id="showit">
					<a href=""><li id="zla">敦刻尔克</li></a>
					<li id="zlcator">主演：菲昂·怀特海德,汤姆·格林-卡尼,米歇尔·贝尔</li>
					<li id="showtime">上映时间：2017-09-01</li>
				</ol>
			</li>
			<div class="boxOffice">
				<p class="lastWeekOffice">上周末票房:<span class="officeNumber">1140.0</span>万</p>
				<p class="totalOffice">总票房:1.54亿</p>
			</div>
		</ul>
	</div>
	<!--num3-->
	<div id="hslist1">
		<ul id="hslist1ul">
			<li id="hslist2ul_li">
				<i>3</i>
			</li>
			<li><img src="__IMAGES__other/Billboard/AmericanBoxOffice/qiangjiejianguodian3.jpg"></li>
			<li id="showitAmericaOffice">
				<ol id="showit">
					<a href=""><li id="zla">抢劫坚果店2</li></a>
					<li id="zlcator">主演：威尔·阿奈特,杰夫·敦哈姆,凯瑟琳·海格尔</li>
					<li id="showtime">上映时间：2017-08-11(加拿大)</li>
				</ol>
			</li>
			<div class="boxOffice">
				<p class="lastWeekOffice">上周末票房:<span class="officeNumber">893.0</span>万</p>
				<p class="totalOffice">总票房:893.0万</p>
			</div>
		</ul>
	</div>
	<!--  num4 -->
	<div id="hslist1">
		<ul id="hslist1ul">
			<li id="hslist3ul_li">
				<i>4</i>
			</li>
			<li><img src="__IMAGES__other/Billboard/AmericanBoxOffice/heianta4.png"></li>
			<li id="showitAmericaOffice">
				<ol id="showit">
					<a href=""><li id="zla">黑暗塔</li></a>
					<li id="zlcator">主演：伊德瑞斯·艾尔巴,马修·麦康纳,阿比·丽</li>
					<li id="showtime">上映时间：2017-08-04(美国)</li>
				</ol>
			</li>
			 <div class="boxOffice">
			 	<p class="lastWeekOffice">上周末票房:<span class="officeNumber">787.0</span>万</p>
			 	<p class="totalOffice">总票房:3430.0万</p>
			 </div>
		</ul>
	</div>
	<!-- num5 -->
	<div id="hslist1">
		<ul id="hslist1ul">
			<li id="hslist3ul_li">
				<i>5</i>
			</li>
			<li>
			   	<img src="__IMAGES__other/Billboard/AmericanBoxOffice/biaoqingqihuanmaoxian5.png">
			</li>
			<li id="showitAmericaOffice">
				<ol id="showit">
					<a href=""><li id="zla">表情奇幻冒险</li></a>
					<li id="zlcator">主演：T·J·米勒,詹姆斯·柯登,安娜·法瑞丝</li>
					<li id="showtime">上映时间：2017-07-28(美国)</li>
				</ol>
			</li>
			<div class="boxOffice">
				<p class="lastWeekOffice">上周末票房:<span class="officeNumber">660.0</span>万</p>
				<p class="totalOffice">总票房:6359.0万</p>
			</div>
		</ul>
	</div>
	<!-- num6 -->
	<div id="hslist1">
		<ul id="hslist1ul">
			<li id="hslist3ul_li">
				<i>6</i>
			</li>
			<li>
			   	<img src="__IMAGES__other/Billboard/AmericanBoxOffice/haifanjiemei6.png">
			</li>
			<li id="showitAmericaOffice">
				<ol id="showit">
					<a href=""><li id="zla">嗨翻姐妹行</li></a>
					<li id="zlcator">主演：贾达·萍克·史密斯,奎恩·拉提法,雷吉娜·赫尔</li>
					<li id="showtime">上映时间：2017-07-21(美国)</li>
				</ol>
			</li>
			<div class="boxOffice">
				<p class="lastWeekOffice">上周末票房:<span class="officeNumber">652.0</span>万</p>
				<p class="totalOffice">总票房:9719.0万</p>
			</div>
		</ul>
	</div> 
	<!--  num7 -->
	<div id="hslist1">
		<ul id="hslist1ul">
			<li id="hslist3ul_li">
				<i>7</i>
			</li>
			<li><img src="__IMAGES__other/Billboard/AmericanBoxOffice/zhizhuxia7.jpg"></li>
			<li id="showitAmericaOffice">
				<ol id="showit">
					<a href=""><li id="zla">蜘蛛侠：英雄归来</li></a>
					<li id="zlcator">主演：汤姆·赫兰德,玛丽莎·托梅,赞达亚</li>
					<li id="showtime">上映时间：2017-09-08</li>
				</ol>
			</li>
			<div class="boxOffice">
				<p class="lastWeekOffice">上周末票房:<span class="officeNumber">610.0</span>万</p>
				<p class="totalOffice">总票房:3.06亿</p>
			</div>
		</ul>
	 </div> 
	<!--  num8 -->
	<div id="hslist1">
		<ul id="hslist1ul">
			<li id="hslist3ul_li">
				<i>8</i>
		    </li>
			<li>
			   	<img src="__IMAGES__other/Billboard/AmericanBoxOffice/buangjia8.jpg">
			</li>
			<li id="showitAmericaOffice">
				<ol id="showit">
					<a href=""><li id="zla">绑架</li></a>
					<li id="zlcator">主演：哈莉·贝瑞,帕特里克·卡恩斯,卢·坦普尔</li>
					<li id="showtime">上映时间：2017-08-04(美国)</li>
				</ol>
			</li>
			<div class="boxOffice">
				<p class="lastWeekOffice">上周末票房:<span class="officeNumber">522.0</span>万</p>
				<p class="totalOffice">总票房:1939万</p>
			</div>
		</ul>
	</div> 
	<!--  num9 -->
	<div id="hslist1">
		<ul id="hslist1ul">
			<li id="hslist3ul_li">
				<i>9</i>
		    </li>
			<li>
			   	<img src="__IMAGES__other/Billboard/AmericanBoxOffice/bolizhicheng9.png">
			</li>
			<li id="showitAmericaOffice">
				<ol id="showit">
					<a href=""><li id="zla">玻璃城堡</li></a>
					<li id="zlcator">主演：布丽·拉尔森,伍迪·哈里森,娜奥米·沃茨</li>
					<li id="showtime">上映时间：2017-08-11(美国)</li>
				</ol>
			</li>
			<div class="boxOffice">
				<p class="lastWeekOffice">上周末票房:<span class="officeNumber">487.0</span>万</p>
				<p class="totalOffice">总票房:487.0万</p>
			</div>
		</ul>
	</div>
	<!--   num10 -->
	<div id="hslist1">
		<ul id="hslist1ul">
			<li id="hslist3ul_li">
				<i>10</i>
			</li>
			<li>
			   	<img src="__IMAGES__other/Billboard/AmericanBoxOffice/jihanbao10.jpg">
			</li>
			<li id="showitAmericaOffice">
				<ol id="showit">
					<a href=""><li id="zla">极寒之城</li></a>
					<li id="zlcator">主演：查理兹·塞隆,詹姆斯·麦卡沃伊,约翰·古德曼</li>
					<li id="showtime">上映时间：2017-07-28(美国)</li>
				</ol>
			</li>
			<div class="boxOffice">
				<p class="lastWeekOffice">上周末票房:<span class="officeNumber">457.0</span>万</p>
				<p class="totalOffice">总票房:4282.0万</p>
			</div>
		</ul>
	</div>
</div>
</block>