<extend name="Public/index" />
<block name="css">
	<link rel="stylesheet" type="text/css" href="__CSS__hotshowinglist.css">
	<link rel="stylesheet" type="text/css" href="__CSS__movieSort.css">
</block>
<block name="title"><title>TOP100榜</title></block>
<block name="menu">
	<div class="ms_placeholder" style="height: 81px;"></div>
	<div class="ms_snav">
		<ul class="mss_navbar">
			<li><a href="{:U('Rank/hotshowinglist')}">热映口碑榜</a></li>
			<li><a href="{:U('Rank/TheMostAnticipatedList')}">最受期待榜</a></li>
			<li><a href="{:U('Rank/boxOfficePoint')}">国内票房榜</a></li>
			<li><a href="{:U('Rank/TheNorthAmericanBoxOffice')}">北美票房榜</a></li>
			<li><a href="{:U('Rank/topOneHundredPoint')}">TOP100榜</a></li>
		</ul>
	</div>
</block>
<block name="main">
<div id="hotshowing">
	<div id="hslist">
	    <p id="hsp1">2017-08-10<span id="hspspan">已更新</span></p><br>
	    <p id="hsp2">榜单规则：将昨日国内热映的影片，按照评分从高到低排列取前10名，每天上午10点更新。相关数据来源于“影乐专业版”及“影乐电影库”。</p>
	</div>  
	<!--num1-->
	<div id="hslist1">
		<ul id="hslist1ul">
			<li id="hslist1ul_li">
				<i><img src="__IMAGES__other/Billboard/hotshowing/numberone.jpg"></i>
		    </li>
			<li id="hslist1ul_img1">
			<img src="__IMAGES__other/Billboard/TopOneHundredPoint/bawang1.jpg">
			</li>
			<li id="showitli" >
				<ol id="showit">
					<a href=""><li id="zla">霸王别姬</li></a>
					<li id="zlcator">主演：张国荣,张丰毅,巩俐</li>	
					<li id="showtime">上映时间：1993-01-01(中国香港)</li>
				</ol>
			</li>
			<li id="pingfen"><i id="pingfbig">9.</i><i id="pingfsmall">6</i></li>
	    </ul>
	</div>
	<!-- num2 -->
	<div id="hslist1">
		<ul id="hslist1ul">
			<li id="hslist2ul_li">
				<i>2</i>
			</li>
			   	<li><img src="__IMAGES__other/Billboard/TopOneHundredPoint/xiaoshengke2.jpg"></li>
			   	<li id="showitli">
				<ol id="showit">
					<a href=""><li id="zla">肖申克的救赎</li></a>
					<li id="zlcator">主演：蒂姆·罗宾斯,摩根·弗里曼,鲍勃·冈顿</li>
					<li id="showtime">上映时间：1994-10-14(美国)</li>
				</ol>
			</li>
			<li id="pingfen"><i id="pingfbig">9.</i><i id="pingfsmall">5</i></li>
	    </ul>
	</div>
	<!--num3-->
	<div id="hslist1">
		<ul id="hslist1ul">
			<li id="hslist2ul_li">
				<i>3</i>
			</li>
			<li><img src="__IMAGES__other/Billboard/TopOneHundredPoint/luomajiari3.jpg"></li>
			<li id="showitli">
				<ol id="showit">
					<a href=""><li id="zla">罗马假日</li></a>
					<li id="zlcator">主演：格利高利·派克,奥黛丽·赫本,埃迪·艾伯特</li>
					<li id="showtime">上映时间：1953-09-02(美国)</li>
				</ol>
			</li>
			<li id="pingfen"><i id="pingfbig">9.</i><i id="pingfsmall">1</i></li>
		</ul>
	</div>
	<!--  num4 -->
	<div id="hslist1">
		<ul id="hslist1ul">
			<li id="hslist3ul_li">
				<i>4</i>
			</li>
			<li><img src="__IMAGES__other/Billboard/TopOneHundredPoint/leon4.jpg"></li>
			<li id="showitli">
				<ol id="showit">
					<a href=""><li id="zla">这个杀手不太冷</li></a>
					<li id="zlcator">主演：让·雷诺,加里·奥德曼,娜塔莉·波特曼</li>
					<li id="showtime">上映时间：1994-09-14(法国)</li>
				</ol>
			</li>
			<li id="pingfen"><i id="pingfbig">9.</i><i id="pingfsmall">5</i></li>
		</ul>
	</div>
	<!-- num5 -->
	<div id="hslist1">
		<ul id="hslist1ul">
			<li id="hslist3ul_li">
				<i>5</i>
			</li>
			<li>
			   	<img src="__IMAGES__other/Billboard/TopOneHundredPoint/taitannike5.jpg">
			   	</li>
			<li id="showitli">
				<ol id="showit">
					<a href=""><li id="zla">泰坦尼克号</li></a>
					<li id="zlcator">主演：莱昂纳多·迪卡普里奥,凯特·温丝莱特,比利·赞恩</li>
					<li id="showtime">上映时间：1998-04-03</li>
				</ol>
			</li>
			<li id="pingfen"><i id="pingfbig">9.</i><i id="pingfsmall">4</i></li>
		</ul>
	</div>
	<!-- num6 -->
	<div id="hslist1">
		<ul id="hslist1ul">
			<li id="hslist3ul_li">
				<i>6</i>
			</li>
			<li>
			   	<img src="__IMAGES__other/Billboard/TopOneHundredPoint/jiaofu6.jpg">
			</li>
			<li id="showitli">
				<ol id="showit">
					<a href=""><li id="zla">教父</li></a>
					<li id="zlcator">主演：马龙·白兰度,阿尔·帕西诺,詹姆斯·凯恩</li>
					<li id="showtime">上映时间：1972-03-24(美国)</li>
				</ol>
			</li>
			<li id="pingfen"><i id="pingfbig">9.</i><i id="pingfsmall">3</i></li>
		</ul>
	</div> 
	<!--  num7 -->
	<div id="hslist1">
		<ul id="hslist1ul">
			<li id="hslist3ul_li">
				<i>7</i>
			</li>
			<li><img src="__IMAGES__other/Billboard/TopOneHundredPoint/longmao7.jpg"></li>
			<li id="showitli">
				<ol id="showit">
					<a href=""><li id="zla">龙猫</li></a>
					<li id="zlcator">主演：日高法子,坂本千夏,糸井重里</li>
					<li id="showtime">上映时间：1988-04-16(日本)</li>
				</ol>
			</li>
			<li id="pingfen"><i id="pingfbig">9.</i><i id="pingfsmall">3</i></li>
		</ul>
	</div> 
	<!--  num8 -->
	<div id="hslist1">
		<ul id="hslist1ul">
			<li id="hslist3ul_li">
				<i>8</i>
			</li>
			<li>
			   	<img src="__IMAGES__other/Billboard/TopOneHundredPoint/tangbohu8.jpg">
			</li>
			<li id="showitli">
				<ol id="showit">
					<a href=""><li id="zla">唐伯虎点秋香</li></a>
					<li id="zlcator">主演：周星驰,巩俐,郑佩佩
					</li>
					<li id="showtime">上映时间：1993-07-01(中国香港)</li>
				</ol>
			</li>
			<li id="pingfen"><i id="pingfbig">9.</i><i id="pingfsmall">5</i></li>
		</ul>
	</div> 
	<!--  num9 -->
	<div id="hslist1">
		<ul id="hslist1ul">
			<li id="hslist3ul_li">
				<i>9</i>
			</li>
			<li>
			   	<img src="__IMAGES__other/Billboard/TopOneHundredPoint/qianyuqianvun9.jpg">
			</li>
			<li id="showitli">
				<ol id="showit">
					<a href=""><li id="zla">千与千寻</li></a>
					<li id="zlcator"> 主演：柊瑠美,入野自由,夏木真理</li>
					<li id="showtime">上映时间：2001-07-20(日本)</li>
				</ol>
			</li>
			<li id="pingfen"><i id="pingfbig">9.</i><i id="pingfsmall">4</i></li>
		</ul>
	</div>
	<!--   num10 -->
	<div id="hslist1">
		<ul id="hslist1ul">
			<li id="hslist3ul_li">
	<i>4</i>
		    </li>
			<li>
			   	<img src="__IMAGES__other/Billboard/TopOneHundredPoint/hunduanlanqiao10.jpg">
			</li>
			<li id="showitli">
				<ol id="showit">
					<a href=""><li id="zla">魂断蓝桥</li></a>
					<li id="zlcator">主演：费雯·丽,罗伯特·泰勒,露塞尔·沃特森</li>
					<li id="showtime">上映时间：1940-05-17(美国)</li>
				</ol>
			</li>
			<li id="pingfen">
			   	<i id="pingfbig">9.</i><i id="pingfsmall">5</i>
			</li>
		</ul>
	</div>
</div>
</block>
